{% extends 'base.html.twig' %}

{% block title %}Create Command{% endblock %}

{% block body %}
    <h1>Create Command</h1>

    {{ form_start(form) }}

        {{ form_row(form.coDate) }}

        {{ form_row(form.coPrix) }}

        {{ form_row(form.client) }}

        {{ form_row(form.produits) }}
<div class="form-buttons">
        <button class="btn btn-success">Create</button>
        <a href="/command">
            <button type="button">Annuler</button>
        </a>
</div>
    {{ form_end(form) }}

{% endblock %}