{% extends 'base.html.twig' %}

{% block title %} List of Produit {% endblock %}

{% block body %}
<h1>List of Produit</h1>

<table class="table">
    <thead>
        <tr>

        <th>prId</th>

        <th>prLabel</th>

        <th>prPrixUnitaire</th>

        <th>commands</th>

        </tr>
    </thead>

    <tbody>
    {% for produit in produits %}
        <tr>

        <td>{{ produit.prId  }}</td>

        <td>{{ produit.prLabel  }}</td>

        <td>{{ produit.prPrixUnitaire  }}</td>

<td>
        <ul>
                {% for command in produit.commands %}
                <li>{{ command }}
                {% else %}
                <li>Any command</li>
                {% endfor %}
        </ul>

</td>


        <td>
            <a href="{{ path('produit_edit', {id: produit.prId}) }}" class="btn btn-warning btn-sm">✏️</a>
        </td>

        <td>
            <form action="{{ path('produit_delete', {id: produit.prId}) }}" method="post" onsubmit="return confirm('Delete this produit ?');">
                <button class="btn btn-danger btn-sm">🗑️</button>
            </form>
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="create-btn-container">
    <a href="/produit/create">
            <button type="button">Créer</button>
        </a>
    <a href="/">
        <button type="button">Revenir a l'index global</button>
    </a>
</div>
{% endblock %}
